.mechanism {
  overflow: hidden;
}
.imgMech {
  position: absolute;
  bottom: -16px;
  right: 6%;
}
.subHeading-mech{
  width: 1160px;
height: 57px;
background: #FFF854;
border-radius: 50px;
position: relative;
font-family: 'RedFive';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
/* identical to box height */

text-align: center;
letter-spacing: 0.085em;

color: #000000;
}
.imgMechenism{
  position: absolute;
  bottom: 28px;
  left: 210px;
}
