.txt-bg {

  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.005em;
  color: #000000;
}
.txt-bg-2{
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.005em;
  color: red;
  margin-left: 10%;

}
.scroll-container {
  overflow: hidden;
}

.scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.txt-bg-2{
  color: none;
  stroke: #000000;
}