.txt-bg {
  position: absolute;
  width: 1272px;
  height: 95px;

  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 95px;
  line-height: 95px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
  border: 2px solid #ffffff;
}
