.ecoSystem {
  overflow: hidden;
}

.ecoRoadmap {
  position: absolute;
  bottom: 22px;
  right: 1%;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.eco-heading {
  margin-bottom: 0px;
  text-align: left;
  width: 132px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.52%;
  text-transform: uppercase;
  color: #000000;
}
.eco-para {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  color: #000000;
}

.subHeading-ecosystem {
  width: 877px;
  height: 57px;
  background: #fff854;
  border-radius: 50px;
  position: relative;
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.085em;

  color: #000000;
}

@media(max-width:769px){

  .subHeading-ecosystem {
    width: 271px;
height: 61px;
    background: #fff854;
    border-radius: 30px;
    position: relative;
font-family: 'RedFive';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 109%;
/* or 28px */

text-align: center;
letter-spacing: 0.005em;

color: #000000;

  }
  .ecoRoadmap {
    position: absolute;
    bottom: 11px;
    right: 31px;
  }
  
  
}