.works {
  overflow: hidden;
}

.centerPlugContainer {
  position: relative;
}
.imgCenterPlug {
  position: absolute;
  width: 500px;
  top: 34%;
  left: 37%;
}
/* @media (max-width: 2560px) {
  .imgCenterPlug {
    position: absolute;
    width: 700px;
    top: 28%;
    left: 37%;
  }
} */
@media (max-width: 1440px) {
  .imgCenterPlug {
    position: absolute;
    width: 500px;
    top: 13%;
    left: 33%;
  }
}
@media (max-width: 1024px) {
  .imgCenterPlug {
    position: absolute;
    width: 350px;
    top: 18%;
    left: 33%;
  }
}
@media (max-width: 768px) {
  .imgCenterPlug {
    position: absolute;
    width: 300px;
    top: 10%;
    left: 31%;
  }
}
@media (max-width: 767px) {
  .imgCenterPlug {
    display: none;
  }
}
.imgWorks {
  position: absolute;
  left: 17.5%;
  bottom: 22px;
}
.imgWork {
  height: 100%;
}
@media (max-width: 570px) {
  .desktopWorks {
    display: none;
  }
}
@media (min-width: 570px) {
  .mobileWorks {
    display: none;
  }
}

.subHeading-work {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  /* identical to box height, or 55px */
  text-align: center;
  letter-spacing: 0.005em;
  position: relative;
  color: #000000;
  width: 708px;
  height: 57px;
  background: #fff854;
  border-radius: 50px;
}

@media (max-width: 769px) {
  .subHeading-work {
    font-family: "RedFive";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 109%;
    /* or 28px */
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
    position: relative;
    color: #000000;
    width: 245px;
    height: 33px;
    background: #fff854;
    border-radius: 30px;
  }
  .imgWorks {
    position: absolute;
    left: -8.5px;
    bottom: 14px;

  }
}
.work1-text{
font-family: 'RedFive';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 109%;
/* or 33px */

letter-spacing: 0.005em;
color: #FFF854;
text-align: left;
color: black;
  -webkit-text-fill-color: #FFF854; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}