.luckyDrawMain {
  background-image: url("../../Assets//Images/Group9.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.lucky_draw_border {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
}
.button {
  width: 11.25rem;
  height: 2.81rem;
  border: 1px solid #000;
  border-radius: 50px;
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  padding: 10px 5px;
  background-color: #fff;
}
.btn_bg {
  background: #fff854;
}
.lucky_draw_text {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  color: #000;
}

.lucky_draw_heading {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  letter-spacing: 0.005em;
}

.circle_luckydraw_nftTransfer {
  position: absolute;
  right: 392px;
  bottom: 10px;
  animation: circle-animation 1.5s ease infinite;
}
/* 
.lucky_draw_bg{
    position: absolute;
    width: 728px;
height: 57px;
background: #FFF854;

} */

@media (max-width: 769px) {
  .lucky_draw_bg {
    width: 328px;
    height: 30px;
    background: #fff854;
  }
  .lucky_draw_heading {
    font-size: 20px;
  }
  .circle_luckydraw {
    position: relative;
    right: -50px;
    bottom: 15px;
    width: 30px;
  }
  .button_responsive {
    display: flex;
    /* align-content: center; */
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
  }
}

.pic-bg-nft {
  width: 348px;
  height: 341.01px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.detail_bg {
  width: 486px;
  height: 82px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.green_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 136.52%;
  /* or 16px */

  text-align: center;

  color: #000000;
}


.Point_bg {
  background-image: url("../../Assets/Images/LuckyDraw/Rectangle32.png");
  background-position: right;
  background-size: contain;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 136.52%;
  /* identical to box height, or 22px */

  text-align: right;

  color: #000000;
}
.balance_text {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 109%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #000000;
}
.borderLine {
  border: 1px solid #000;
}
.luckyDrawAmount_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 136.52%;
  /* identical to box height, or 25px */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
.Minusbox-1 {
  width: 39px;
  height: 39px;
  background: #e3e3e3;
  border: 1px solid #000000;
  border-radius: 3px;
}
.Textbox {
  width: 141px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.inputText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 136.52%;
  /* identical to box height, or 25px */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.Plusbox-1 {
  width: 39px;
  height: 39px;
  background: #fffdd3;
  border: 1px solid #000000;
  border-radius: 3px;
}

.textBox-2 {
  width: 328px;
  height: 67px;
  background: #e9e9e9;
  border-radius: 6px;
}
.total_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 136.52%;
  /* identical to box height, or 25px */

  color: #000000;
}
.total_text_1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 136.52%;
  /* identical to box height, or 25px */

  text-align: right;

  color: #000000;
}

.text_2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  /* identical to box height, or 22px */

  text-align: center;

  color: #000000;
}

.btn_mint_nft {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  border: 1px solid #000000;
  color: #000000;
  width: 182px;
  height: 45px;
  background: #fff854;
  border-radius: 50px;
}

.btn_myNft {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;

  width: 95px;
  height: 39px;
  background: #fff;

  border: 1px solid #000000;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .detail_bg_2 {
    margin-top: 25px;
  }
}

.luckdraw {
  overflow: hidden;
}

@media (max-width: 425px) {
  .pic-bg {
    width: 248px;
    height: 237.01px;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
  }
  .detail_bg {
    width: 343px;
    height: 82px;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  .green_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    /* or 16px */
    text-align: center;

    color: #000000;
  }
  .green_text {
    padding-top: 5px;
  }
}
.inputForTransfer {
  width: 322px;
  height: 60px;
  background: #ffffff !important;
  border: 1px solid #000000 !important;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 6px !important;
}
@media (max-width: 425px) {
  .inputForTransfer {
    width: 270px;
  }
  .pic-bg-nft {
    width: 270px;
    height: 270px;
  }
}
.bgForSuccess {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    270deg,
    #fff854 0%,
    rgba(255, 255, 255, 0) 134.6%
  );
}
.bgForSuccess {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 136.52%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 10px;
}
@media (max-width: 769px) {
  .tablet_responsive {
    font-size: 35px;
  }
  .circle_nftCard {
    position: relative;
    right: 181px;
    bottom: 19px;
    width: 41px;
  }
}

@media (max-width: 425px) {
  .tablet_responsive {
    font-size: 18px;
    text-align: center;
    display: flex;
  }
  .lucky_draw_heading_Transfer {
    font-size: 18px;
    padding: 10px;
  }

  .circle_nftCard {
    display: none;
  }
}
@media (max-width: 321px) {
  .inputForTransfer {
    width: 210px !important;
    height: 60px;
  }
}
.lucky_draw_heading_Transfer {
  font-size: 38px;
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  letter-spacing: 0.005em;
}
.pos-rel {
  position: relative;
}