.roadmap {
  overflow: hidden;
}
.sabPara {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  /* identical to box height, or 22px */

  text-align: center;

  color: #000000;
}
.imgStyle {
  height: 450px;
}
.imgGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgRoadmap {
  position: absolute;
  bottom: 22px;
  left: 58%;
}
