.text_paragraphs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  /* or 22px */
  color: #000000;
}

.luckyDrawMain {
  background-image: url("../../Assets//Images/Group9.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.lucky_draw_border {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
}
.button {
  width: 11.25rem;
  height: 2.81rem;
  border: 1px solid #000;
  border-radius: 50px;
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  padding: 10px 5px;
  background-color: #fff;
}
.btn_bg {
  background: #fff854;
}
.lucky_draw_text {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  color: #000;
}

.lucky_draw_heading {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  letter-spacing: 0.005em;
}

.circle_nftCard {
  position: relative;
  right: 249px;
  bottom: 21px;
  animation: circle-animation 1.5s ease infinite;
}

@media (max-width: 769px) {
  .tablet_responsive {
    font-size: 35px;
  }
  .circle_nftCard {
    position: relative;
    right: 181px;
    bottom: 19px;
    width: 41px;
  }
}

@media (max-width: 425px) {
  .tablet_responsive {
    font-size: 18px;
    text-align: center;
    display: flex;
  }

  .circle_nftCard {
    display: none;
  }
}
