.universeContainer {
  overflow: hidden;
}

.bg {
  background-image: url("../../Assets/Images/Group9.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.box {
  width: 57px;
  height: 166px;
  background: #000000;
  border-radius: 8px 0px 0px 8px;
  /* float: right; */
  /* top: 0; */
  position: sticky;
  top: 0;
  right: 0;
}
.txt-uni {
  margin-top: 169px;
  text-align: center;
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  /* or 55px */

  text-align: center;
  letter-spacing: 0.005em;
}
.TEXT-BG {
  background-color: rgba(255, 248, 84, 1);
}
.pic-bg {
  background-image: url("../../Assets/Images/IMG_20631.png");
  height: 710px;
  background-position: center;
  background-repeat: no-repeat;
}
.img-1 {
  margin-top: 170px;
  width: 582px;
  height: 440px;
}
.p1-mobile {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-content: center;
}
/* .p1 {
  margin-top: 90px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-content: center;
} */
.p2-mobile {
  font-family: Inter regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-content: center;
}
/* .p2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-content: center;
} */
.text-title {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  /* or 55px */

  text-align: center;
  letter-spacing: 0.005em;
  position: relative;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: clamp(40px, 50px, 30px);
}
@media (max-width: 768px) {
  .text-title {
    font-size: 26px;
  }
}
.subHeading-title {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  /* or 55px */

  text-align: center;
  letter-spacing: 0.005em;
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  /* or 55px */

  text-align: center;
  letter-spacing: 0.005em;
  position: relative;
  /* identical to  height, or 55px */

  text-align: center;
  letter-spacing: 0.005em;
  background: #fff854;
  border-radius: 35px;
  color: #000000;

  width: 701px;
  height: 57px;
  background: #fff854;
  border-radius: 50px;
}

.img-circle {
  position: absolute;
  bottom: 14px;
  left: 447px;
}
.img-circle1 {
  position: absolute;
  bottom: 23px;
  left: 331px;
}
@media (min-width: 768px) {
  .mobile-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  .large-screen {
    display: none;
  }
}
.text-para {
  margin-top: 100px;
  text-align: left;
  align-self: center;
  font-family: "Inter regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.52%;
  /* or 22px */
  color: #000000;
}
/* .psRel {
  position: relative;
} */
.psChild {
  /* position: sticky !important;
  position: -webkit-sticky !important; */
  top: 0;
  float: right;
}

