@import url(https://allfont.net/allfont.css?fonts=redfive);
.App {
  text-align: center;
}
@font-face {
  font-family: "RedFive";
  font-style: normal;
  font-weight: normal;
  src: local("RedFive"), url("../redfive.regular.woff") format("woff");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.subHeading {
  width: 714px;
height: 55px;

font-family: 'RedFive';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 109%;
/* identical to box height, or 55px */

text-align: center;
letter-spacing: 0.005em;

color: #000000;
  
  position: relative;
  /* identical to box height, or 55px */
  width: 877px;
  height: 57px;
  background: #fff854;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .subHeading {
    font-family: "RedFive", arial;
    font-size: 26px;
    padding: 10px 20px;
  }
}

.squareBgImg {
  background-image: url("../src/Assets/Images/Group9.png");
}
.colWise {
  display: flex;
  flex-direction: column;
}
.rowWise {
  display: flex;
}
.howWeWork {
  overflow: hidden;
}
