.tooltip.show {
  opacity: 1 !important;
}
.lpPoolMain {
  background-image: url("../../Assets/Images/Group9.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.lp_Pool_background {
  width: 728px;
  height: 57px;
  background: #fff854;
  border-radius: 50px;
}
.lp_pool_heading {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 109%;
  letter-spacing: 0.005em;
}
.lp_pool_border {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
}
.lpPool_box {
  width: 180px;
  height: 74px;
  background: #e7e7e7;
  border-radius: 10px;
}
.tooltip-inner {
  color: #000000 !important;
  text-align: left !important;
  background-color: #ffffff !important;
  border: #000000 solid 1px;
  /* padding: 20px; */
  width: 500px;
}
.Cardborder {
  width: 283px;
  height: auto;
  border: 1px solid #000000;
  border-radius: 6px;
}

.background_card {
  background-image: url("../../Assets/Images/Group9.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.card_title {
  font-family: "RedFive";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.52%;
  /* identical to box height, or 27px */

  text-align: center;

  color: #000000;
}

.card_deposit {
  width: 25.36px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 168.52%;
  /* or 19px */

  color: #000000;
}
.card_value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 168.52%;
  /* or 19px */
  color: #000000;
}

.card_body {
  width: 258px;
  height: 284px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}
.wallet_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 168.52%;
  /* or 22px */
  color: #000000;
}

.token_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 168.52%;
  /* or 19px */

  color: #000000;
}
.token_text_bg {
  width: 81.57px;
  height: 19.42px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}
.buttoun_background {
  /* width: 283px; */
  height: 111px;

  background: #ffffff;
  border: 1px solid #000000;
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
  z-index: 1000000000;
}
.button_bg {
  width: 16rem;
  height: 30.59px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  color: #000000;
  background: #fff854;
  border-radius: 50px;
}
@media (max-width: 425px) {
  .button_bg {
    width: 253px;
  }
}
@media (max-width: 320px) {
  .button_bg {
    width: 240px;
  }
}
.button_Unstake {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  color: #000000;
  width: 125.75px;
  height: 30.59px;
  background: #fff854;
  border: 1.5px solid #000000;
  border-radius: 50px;
}
.button_redeem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  color: #000000;
  width: 125.75px;
  height: 30.59px;
  background: #fff854;
  border: 1.5px solid #000000;
  border-radius: 50px;
}

/* @media(max-width:768px){
  
  .circle_lpPool{

  }
} */
@media (max-width: 1440px) {
  .lucky_draw_heading_pool {
    font-size: 45px !important;
  }
}
@media (max-width: 769px) {
  .lucky_draw_heading_pool {
    font-size: 30px !important;
    padding: 10px !important;
  }
}
@media (max-width: 600px) {
  .lucky_draw_heading_pool {
    font-size: 18px !important;
    padding: 10px !important;
  }
}
@media (max-width: 425px) {
  .mbl_responsive {
    justify-content: center !important;
  }
  .lucky_draw_heading_pool {
    font-size: 16px !important;
    padding: 10px !important;
  }
  .circle_lpPool {
    display: none;
  }
  /* .lp_pool_heading {
      font-family: "RedFive";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 109%;
      letter-spacing: 0.005em;
      text-align: center;
    }
    */
}

.circle_lpPool {
  position: absolute;
  right: 327px;
  bottom: 27px;
  animation: circle-animation 1.5s ease infinite;
}
.pos-rel,
.lucky_draw_heading_pool {
  position: relative;
}
@media (max-width: 1024px) {
  .button_responsive {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 769px) {
  .circle_lpPool {
    display: none;
  }
  .mbl_responsive {
    display: flex;
    justify-content: center !important;
  }
}
