.graph-bg {
  background-image: url("../../Assets/Images/Group9.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.graph-over {
  overflow: hidden;
}
.graph-margin{
    margin-top: 80px;
}