.footer {
  background-image: url("../../Assets/Images/Rectangle17.png");
  position: relative;
  /* background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 323%); */
  background-size: cover;
  height: 450px;
  /* opacity: 0.6; */
  overflow: hidden;
}
.footerBackImg {
  height: 450px;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  /* position: absolute; */
}
.backImg {
  z-index: 99;
  position: absolute;
}
.footerLeft {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 99;
}
.footerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.txtHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.textSpanFooter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.rowInFooter {
  display: flex;
  justify-content: space-evenly;
}
