.footer {
  background-image: url("../../Assets/Images/Rectangle17.png");
  position: relative;
  /* background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 323%); */
  background-size: cover;
  height: 450px;
  /* opacity: 0.6; */
  overflow: hidden;
  width: 100%;
}
.footerSecMobile {
  background-image: url("../../Assets/Images/Rectangle17.png");
  position: relative;
  background-size: cover;
  width: 100%;
  /* height: 450px; */
}
.footerBackImg {
  height: 450px;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  /* position: absolute; */
}
.backImg {
  z-index: 99;
  position: absolute;
}
.backImgMobile {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
}
.footerLeft {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 99;
}
.footerMobile {
  z-index: 99;
  /* display: flex;
  justify-content: center; */
}
.footerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.txtHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 136.52%;
}
.textSpanFooter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}
.textSpanMobileFooter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
}
.rowInFooter {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  .footerSec {
    display: none !important;
  }
}
@media (min-width: 480px) {
  .footerSecMobile {
    display: none !important;
    align-items: flex-start;
  }
}

.imgFooterMobile {
  width: 200px !important;
}
